<ion-view title="{{project.name}}">
  <ion-content has-header="true" padding="true" direction="xy" locking="true">
      <div class="row" style="width:{{75 * project.us_statuses.length}}%;">
          <div class="col list" ng-repeat="status in project.us_statuses">
            <div class="item item-stable item-divider row kanband-header" style="border-color:{{status.color}}">
              <div class="item item-stable kanban-status-color" style="background-color:{{status.color}}">
              </div>
              <div class="col">
                <em>{{status.name}}</em>
              </div>
              <div class="item-right-edit">
                <button class="button button-icon ion-plus" ng-click="newStory(status)"></button>
              </div>
            </div>

            <ion-list show-reorder="meta.online" class="kanban-col">

              <ion-item class="no-padding card" ng-repeat="story in user_stories[status.id] | filter: {status: status.id} | orderBy: 'order'">
                  <h2>{{story.subject}}</h2>
                  <p>{{story.description}}</p>
                  <!-- {{story.kanban_order}}<br>{{story.status}} -->
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(story, $fromIndex, $toIndex)"></ion-reorder-button>
                <div class="clear" ng-show="meta.online">
                  <button class="button button-calm button-outline" ng-click="editCategory(story)"><i class="icon ion-compose"></i></button>
                  <button class="button button-assertive button-outline" ng-click="archiveStory(story)"><i class="icon ion-close"></i></button>
                </div>
              </ion-item>

            </ion-list>
          </div>
      </div>
  </ion-content>
</ion-view>

<script id="categories.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Select a category</h1>
    </ion-header-bar>
    <ion-content>
      <button class="item button-full" ng-repeat="status in project.us_statuses" style="color:{{status.color}}" ng-click="setCategory(status)">
        {{status.name}}
      </button>
      <button class="item button-full item-stable" ng-click="modal.hide()"><i class="icon ion-close"></i></button>
    </ion-content>
  </ion-modal-view>
</script>

<script id="new-story.html" type="text/ng-template">
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add story</h1>
  </ion-header-bar>
  <ion-content style="height:100%">
    <form>
      <label class="item item-input" style="height:200%">
        <input type="text" placeholder="Subject" ng-model="subject">
      </label>
      <div class="button-bar">
        <button class="item button-full item-positive" type="submit" ng-click="addStory(subject)"><i class="icon ion-checkmark"></i></button>
        <button class="item button-full item-stable" ng-click="new_story.hide()"><i class="icon ion-close"></i></button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
</script>
